footer
  .text-center.text-white.footerbg.footer-fixed-bottom
    p Designed and built by BDIC 2013 Cat-Flap SE group
    p
      a(href='https://') GitHub Project
    p
      a(href='https://')  Issues
    p © 2017 Cat Flap. All Rights Reserved
