.row
  .col-lg-12
    h1.page-header Download
      small   get Android app
    ol.breadcrumb
      li
        a(href='') Home
      li.active download
.container.full-size
  .row.dlbg
    .col-xs-5
    .col-xs-7.text-center(style="position:relative;top:20px")
      h1.text-white Android App
      h3.text-white Download Application on Portable Device
      h3.text-white Watch your pet at anytime
      h3.text-white Control your flap at anywhere
    img.qr(src="images/download2.png")
.container(style="height:40px")
