.row.hmbg
  img(src='images/homebg.png', style='height:450px').img-responsive
  h1.text-white(style='position:absolute;top:340px') Totally Awesome Cat Flap
  h4.text-white(style='position:absolute;top:400px') Keep unwanted animals out of your home
.row.background-gray
  .col-xs-4
    .col-md-4
      img(src='images/database-128.png').img-responsive
    .col-md-8
      h4 Double Database
      p.txt-hide Provide two database in case of changing or losing of devices and connection issue.
  .col-xs-4
    .col-md-4
      img(src='images/track-128.png').img-responsive
    .col-md-8
      h4 Access Tracking
      p.txt-hide Track the access of your pets to allow you to know where your pets has been to.
  .col-xs-4
    .col-md-4
      img(src='images/phone.png').img-responsive
    .col-md-8
      h4 Portable App
      p.txt-hide Allow convenient operation of the flaps and check status at anytime.
